# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.to

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases #
######################
*.log
*.sql
*.sqlite
*.swp

tests/tests
tests/test-*
tests/bad-tests/
tests/good-tests/
tests/*working*
scrm
scrm_dbg
scrm_prof

# automake
Makefile
Makefile.in
autom4te.cache
config.*
depcomp
install-sh
missing
configure
aclocal.m4
.deps
INSTALL


# ./docs
doc/latex
doc/html
doc/manual.html
*.bbl
*.blg
*.aux
*.pdf
*.out

html/
latex/
reference/

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

compile
test-driver
tests/tests.trs
algorithm_tests
unit_tests
stuff
.dirstamp
unit_tests.trs
algorithm_tests.trs
configure.lineno

# Coverage test
*gcda
*gcno
